@import 'variables';

%button {
    display: flex;
    justify-content: center;
    width: 35%;
    padding: 15px;
    margin-top: 20px;   
    border-radius: 50px;
    border: none;    
    
    a {
        text-decoration: none;
        font-size: 14px;
        color: $--colorPrimary;
        font-family: 'Poppins', sans-serif;
        
    }

    &:hover {
        background-color: $--colorSecundary;
        
        a{
            color: #ffffff;
        }
    }
}

%social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 100%;

    a {
        color: #ffffff;
    }

    &:hover {
        border-color: $--colorSecundary;
        
        a {
            color: $--colorSecundary;
            padding: 20px;
        }
    }
}